{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ client['name'] }} {% endblock %}</h2>
    <h4>VRF : {{ client['id'] }}</h4>
    <p>Network : {{ client['ip'] }}</p>
    <p>Gateway : {{ client['gw'] }}</p>
    <span class="badge badge-primary">{{ client['created'] }}</span>
    <a href="{{ url_for('edit', id=client['id']) }}">
        <span class="badge badge-warning">Edit</span>
    </a>
    <a href="{{ url_for('config', id=client['id']) }}">
        <span class="badge badge-warning">Config</span>
    </a>
{% endblock %}