{% extends 'base.html' %}

{% block content %}
<h1>{% block name %} Edit "{{ client['name'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Client name"
               class="form-control"
               value="{{ request.form['name'] or client['name'] }}">
        </input>
    </div>
    <div class="form-group">
        <label for="ip">Network (in 164.166.0.0/16)</label>
        <input type="text" name="ip"
                  placeholder="Client network" class="form-control"
                  value="{{ request.form['ip'] }}"></input>
    </div>
    <div class="form-group">
        <label for="gw">Gateway</label>
        <input type="text" name="gw" 
                  placeholder="Client gw" class="form-control"
                  value="{{ request.form['gw'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<hr>

<form action="{{ url_for('delete', id=client['id']) }}" method="POST">
    <input type="submit" value="Delete Client"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this client?')">
</form>
{% endblock %}