{% extends 'base.html' %}

{% block content %}
<h1>{% block name %} Create a New Client {% endblock %}</h1>
<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name"
               placeholder="Client name" class="form-control"
               value="{{ request.form['name'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
{% endblock %}