{% extends 'base.html' %}

{% block content %}
    {% for client in clients %}
        <a href="{{ url_for('client', client_id=client['id']) }}">
            <h2>{{ client['name'] }}</h2>
        </a>
        <h4>VRF : {{ client['id'] }}</h4>
        <p>Network : {{ client['ip'] }}</p>
        <p>Gateway : {{ client['gw'] }}</p>
        <span class="badge badge-primary">{{ client['created'] }}</span>
        <a href="{{ url_for('config', id=client['id']) }}">
            <span class="badge badge-warning">Config</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}