{% block content %}
    {% for client in clients %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <h2>{{ client['name'] }}</h2>
        <h4>VRF : {{ client['id'] }}</h4>
        <p>Network : {{ client['ip'] }}</p>
        <p>Gateway : {{ client['gw'] }}</p>
        <span class="badge badge-primary">{{ client['created'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}